/* GLOBAL RULES */

  @font-face {
    font-family: "Raleway";
    src: url("./Raleway/Raleway-VariableFont_wght.ttf");
    font-weight: 100 1000;
  }

  .referencement {
    display: none;
  }

  body {
    font-family: "Raleway", sans-serif;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
  }

  .blue {
    color: #0065FC;
  }

  a:-webkit-any-link {
    color: black;
  }

  li:hover a {
    color: #0065FC;
  }

  .grey {
    color: #D9D9D9;
  }

  .bold {
    font-weight: bold;
  }

  section {
    padding: 1rem;
  }

  a {
    text-decoration: none;
  }

  .hebergement_fig, .populaire_fig, .activities {
    box-shadow: 0 .25rem .5rem grey;
    margin: 1rem 0 1rem 0;
    border-radius: 1rem;
  }

  #populaire, footer {
    background-color: #F2F2F2;
  }

  figure {
    background-color: white;
  }

  figcaption {
    padding: .7rem 0 0 1rem;
    display: flex;
    flex-direction: column;
  }

  figcaption h3 {
    font-size: .9rem;
  }

  figcaption p {
    font-size: .9rem;
  }

  figcaption span {
    margin-top: auto;
    margin-bottom: .5rem;
  }

  figcaption span .fas { /* figcaption span .fas cible les etoiles dans les cartes */
    font-size: .7rem;
    letter-spacing: -.15rem;
  }

  footer {
    padding: 1rem;
  }

/* HEADER */

#populaire-header {
  display: flex;
  justify-content: space-between;
}
::placeholder {
  color: black;
  font-weight: 800;
  font-size: 1rem;
  font-family: "Raleway";
}
#header_div-container {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1rem .5rem 1rem;
}
#header_div-container nav {
  display: flex;
}
.desktop {
  display: none;
}
.small-screen ul {
  display: flex;
  margin-bottom: 0;
}
li a {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: .7rem;
}
nav > a:nth-child(2) {
  color: #0065FC;
  font-weight: bold;
  margin-top: 1rem;
  margin-right: .25rem;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-top: 1rem;
  min-width: 50%;
  max-height: 2rem;
  border-bottom: .2rem solid #F2F2F2;
}

li:hover {
  border-bottom: .2rem solid #0065FC;
}




/* SECTION FORM */

  .form-button {
    min-height: 3rem;
    margin-top: 1rem;
    display: inline-flex;
    width: 100%;
  }

  .form-right {
    border-radius: 1rem 0 0 1rem;
    border: none;
    min-width: 3rem;
  }

  .form-left {
    border-radius: 1rem;
    border: none;
    background-color: #0065FC;
    color: white;
    min-width: 3rem;
    margin: 0 0 0 -1rem;
  }

  .form-button input {
    border-left: none;
    border-right: none;
    border-width: 1px;
    border-color:  #F2F2F2;
    border-style: solid;
    width: 100%;
    padding-left: 1rem;
  }

  .filtre-wrap-icon {
    background-color: #DEEBFF;
    border-radius: 100%;
    min-width: 3rem;
    min-height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: -.15rem .8rem -.15rem -.2rem;
  }

  .div-container_btn {
    display: inline-flex;
    flex-wrap: wrap;
    margin-top: 1.5rem;
  }

  .div-container_btn p {
    width: 100%;
  }

  button span {
    margin-right: 1rem;
    font-weight: bold;
  }

  .filtre {
    display: flex;
    align-items: center;
    border-radius: 2rem;
    border-width: .15rem;
    border-color: #D9D9D9;
    background-color: white;
    padding: 0;
    border-style: solid;
    border-left: none;
    margin: .4rem 1rem .4rem 0;
  }

  .filtre:hover {
    transform: scale(1.1);
  }

  .div-container_icone {
    display: flex;
  }

  .icone-container {
    border: 1px solid #F2F2F2;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    min-width: 2rem;
    max-height: 2rem;
    margin: .5rem .5rem 0 0;
  }









#section-container {
  display: flex;
  flex-flow: column-reverse;
}

/* section h2, section p {
  margin-bottom: 0;
} */



/* HOVER */

figure:hover {
  transform: scale(1.02);
}

figcaption p, figcaption h3 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

  /* IMAGES SECTION HEBERGEMENT */
  
  #hebergement_div-container_fig {
    display: flex;
    flex-direction: column;
  }
  
  .hebergement_fig {
    min-width: 30%;
    height: 13rem;
  }
  
  .img-container-hebergement {
    background-size: cover;
    width: calc(100% - .6rem);
    height: 50%;
    background-position: center;
    border-radius: 1rem 1rem 0 0;
    margin: .3rem;
  }
  
  #hebergement-one {
    background-image: url("./images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
  }
  
  #hebergement-two {
    background-image: url("./images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
  }
  
  #hebergement-three {
    background-image: url("./images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
  }
  
  #hebergement-four {
    background-image: url("./images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
  }
  
  #hebergement-five {
    background-image: url("./images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
  }
  
  #hebergement-six {
    background-image: url("./images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
  }
  
  /* IMAGES SECTION POPULAIRE */
  
  #populaire-icon {
    display: flex;
    align-items: center;
  }

  #populaire-icon .fas {
    font-size: 1.5rem;
  }
  
  #populaire_div-container_fig {
    height: 100%;
  }
  
  .img-container-populaire {
    background-size: cover;
    background-position: center;
    border-radius: 1rem 0 0 1rem;
    margin: .3rem;
    width: 40%;
  }
  
  .populaire_fig {
    display: flex;
    max-width: 100%;
    min-height: 9rem;
  }

  .populaire_fig a {
    display: flex;
    min-width: 100%;
    min-height: 9rem;
  }
  
  .populaire_fig figcaption {
    width: 60%;
  }
  
  #populaire-one {
    background-image: url("./images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
  }
  
  #populaire-two {
    background-image: url("./images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
  }
  
  #populaire-three {
    background-image: url("./images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
  }
  
  /* IMAGES SECTION ACTIVITES */
  
  .column-container {
    display: flex;
    flex-direction: column;
  }
  
  .activities {
    height: 10rem;
  }
  
  .img-container-activities {
    background-size: cover;
    background-position: center;
    border-radius: 1rem 1rem 0 0;
    height: calc(100% - 3rem);
  }
  
  #activities-one {
    background-image: url("./images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
  }
  
  #activities-two {
    background-image: url("./images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
  }
  
  #activities-three {
    background-image: url("./images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
  }
  
  #activities-four {
    background-image: url("./images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
  }
  
  #activities-five {
    background-image: url("./images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
  }
  
  #activities-six {
    background-image: url("./images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
  }

/* Medium devices like tablets */
@media screen and (min-width: 768px) {
  .form-left.small-screen {
    display: none;
  }
  .form-left.desktop {
    display: inline-block;
  }
  .form-left {
    min-width: 8rem;
    border-radius: 0 1rem 1rem 0;
  }
  .div-container_btn {
    justify-content: space-between;
  }
  #populaire_div-container_fig {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
  }
  .populaire_fig {
    width: 45%;
  }
  #hebergement_div-container_fig {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  footer {
    display: flex;
  }
  footer section {
    width: 30%;
  }
}

/* Extra large devices like desktop */
@media screen and (min-width: 1024px) {
  section {
    display: flex;
    flex-direction: column;
    padding: 0 2rem 0 2rem;
  }
  
  #header_div-container {
    padding: 0 2rem 2rem 2rem;
  }

  li:hover {
    border-bottom: none;
  }
  
  .small-screen {
    display: none;
  }
  
  .desktop {
    display: flex;
  }

  ul.desktop {
    height: 100%;
  }

  button.desktop {
    display: inline-block;
  }
  
  li a {
    padding: 2.5rem 0 2.5rem 0;
  }

  li {
    border-top: 5px solid transparent;
    margin: 0;
    padding: 0;
    min-width: 10rem;
    border-bottom: none;
    max-height: 100%;
  }

  li:hover {
    border-top-color: #0065FC;
  }

  nav > a:nth-child(2) {
    margin: 0;
    padding-top: 2.5rem;
    border: 5px solid transparent;
  }
  .form-button input {
    width: auto;
  }
  .div-container_btn {
    display: flex;
    justify-content: flex-start;
  }
  .div-container_btn p {
    width: auto;
    margin-right: 2rem;
  }
  #section-container {
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
  }
  
  footer {
    padding: 2rem;
    margin-top: 2rem;
  }
  
  footer section {
    padding: 0;
  }
  
  #section-hebergement, #populaire, .form-right {
    background-color: #F2F2F2;
  }
  
  #section-hebergement {
    width: calc(60% - 2rem);
  }
  
  .hebergement_fig figcaption {
    padding: 0 0 0 1rem;
  }
  
  #populaire {
    width: calc(30% - 2rem);
  }

  #populaire_div-container_fig {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  
  .hebergement_fig {
    width: 30%;
    margin: 0 0 1rem 0;
  }
  
  #section-hebergement, #activities, #populaire, figure, img {
    border-radius: 1rem;
  }
  
  /* IMAGES SECTION POPULAIRE */
  
  #populaire_div-container_fig {
    height: 100%;
    padding-bottom: 1rem;
  }
  
  .populaire_fig {
    width: auto;
  }
  
  .populaire_fig figcaption {
    width: 50%;
  }
  
  /* IMAGES SECTION ACTIVITES */
  
  #activities_div-container_fig {
    display: flex;
    justify-content: space-between;
  }
  
  .column-container {
    min-width: 23%;
    min-height: 30rem;
  }
  
  #fig_grow_1 {
    height: 100%;
  }
  
  #fig_grow_2 {
    height: 66%;
  }
  
  #fig_grow_3 {
    height: 33%;
  }
  
  #fig_grow_4 {
    height: 100%;
  }
  
  #fig_grow_5 {
    height: 50%;
  }
  
  #fig_grow_6 {
    height: 50%;
  }
}