@font-face {
  font-family: "Raleway";
  src: url("./Raleway/Raleway-VariableFont_wght.ttf");
}

body {
  font-family: "Raleway", sans-serif;
}

section {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
}

/* aside {
  margin: 20px;
  padding: 20px;
} */

.small-screen {
  display: none;
}

#header-container {
  display: flex;
  justify-content: space-between;
}

.form-button, #filtres, nav, ul {
  display: inline-flex;
}

#filtres {
  justify-content: space-between;
}

footer {
  background-color: #F2F2F2;
  display: flex;
  justify-content: space-between;
}

#hebergements, #populaires, #form-right {
  background-color: #F2F2F2;
}

.form-right {
  border-radius: 5px 0 0 5px;
  border: none;
}

.form-left {
  border-radius: 0 5px 5px 0;
  border: none;
}

.form-button input {
  border-left: none;
  border-right: none;
  border-width: 1px;
}

section img {
  width: 300px;
  height: 200px;
}

#hebergements {
  width: 100%;
  display: inline-flex;
}

#hebergement-fig-container {
  width: 65%;
}

.gras {
  font-weight: bold;
}

#populaires {
  width: 30%;
}

.fa-info {
  color: #0065FC;
}

.icone-container {
  border: 1px solid #F2F2F2;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  width: 2rem;
  height: 2rem;
}

.blue {
  color: #0065FC;
}