@font-face {
  font-family: "Raleway";
  src: url("./Raleway/Raleway-VariableFont_wght.ttf");
}

body {
  font-family: "Raleway", sans-serif;
}

section {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.small-screen {
  display: none;
}

#header-container {
  display: flex;
  justify-content: space-between;
}

.form-button, nav, ul {
  display: inline-flex;
}

.filtre-wrap-icon {
  background-color: #DEEBFF;
  border-radius: 100%;
  min-width: 3rem;
  min-height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#filtres {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 70%;
}

.filtre {
  display: flex;
  align-items: center;
  border-radius: 2rem;
  border-width: 1px;
  border-color:  #F2F2F2;
  background-color: white;
  padding: 0;
  border-style: solid;
}

footer {
  background-color: #F2F2F2;
  display: flex;
  justify-content: space-between;
}

#hebergements, #populaires, #form-right {
  background-color: #F2F2F2;
}

.form-button {
  min-height: 3rem;
}

.form-right {
  border-radius: 1rem 0 0 1rem;
  border: none;
  min-width: 3rem;
}

.form-left {
  border-radius: 0 1rem 1rem 0;
  border: none;
  background-color: #0065FC;
  color: white;
  min-width: 8rem;
}

.form-button input {
  border-left: none;
  border-right: none;
  border-width: 1px;
  border-color:  #F2F2F2;
  border-style: solid;
}
/* 
section img {
  width: 300px;
  height: 200px;
} */

#hebergements {
  width: 80%;
}

#hebergement-fig-container {
  display: flex;
}

.gras {
  font-weight: bold;
}

#populaires {
  width: 30%;
}

.icone-container {
  border: 1px solid #F2F2F2;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  width: 2rem;
  height: 2rem;
}

.blue {
  color: #0065FC;
}

#populaire-header {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

#populaire-icon {
  display: flex;
  align-items: center;
}

figure {
  background-color: white;
  width: 33%;
  height: 13rem;
}

#hebergements, #activites, #populaires, figure, figcaption, img {
  border-radius: 1rem;
}

.img-container {
  background-size: cover;
  width: 100%;
  height: 60%;
  background-position: 50%;
  border-radius: 1rem 1rem 0 0;
}

#one {
  background-image: url("./images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
}

#two {
  background-image: url("./images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
}

figcaption p, figcaption h3 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}